section.about
  .container
    h2.section-title.slide-right О компании
    .about__content
      .about__content-block.slide-up
        p ООО «Механический Завод СОТРАНС» входит в ГК СОТРАНС и является первым кузовостроительным заводом в СЗФО. Завод начал свою деятельность с января 2021 года и на сегодняшний день занимается разработкой и производством шторных и изотермических полуприцепов, а также разработкой, производством и монтажом следующих видов надстроек на базе грузовых шасси различных производителей: MAN, Scania, Volvo, Mercedes Benz, Daf, Ford, КАМАЗ, МАЗ, УРАЛ.
        p На сегодняшний день «МЗ СОТРАНС» произвёл более 50 шторных полуприцепов и осуществил более 100 монтажей различного вида надстроек, таких как: сортиментовозные площадки, бортовые платформы, цистерны, КМУ, ГМУ, портальные погрузчики.
      .about__content-block.slide-left
        .about__image
          img(src=require('@/assets/img/about/about.jpg') alt="О компании")
          .about__image-caption В своем развитии производство опирается на ценный опыт специалистов Группы компаний, накопленный за более чем 30 лет работы в грузовом сегменте.
    .about__tile.slide-right
      each el in aboutTileItems
        .about__tile-item
          .about__tile-item-block
            .about__tile-item-num #{el.num}
            .about__tile-item-txt !{el.txt}
          .about__tile-item-block
            img(src=el.img alt=el.txt)
    a.about__link.btn.btn_orange.slide-up(href="products.html") Наша продукция

