section.benefits.slide-left
  .container
    h2.section-title.section-title_white Ключевые преимущества
    .swiper
      .swiper-wrapper
        each el in benefitsSlides
          .swiper-slide
            .swiper-slide-top
              h3.swiper-slide-title #{el.title}
              p.swiper-slide-text #{el.txt}
              .swiper-slide-num #{el.num}
            .swiper-slide-image
              img(src=el.img alt="")
              if (el.logo)
                .swiper-slide-image-logo
      .swiper-pagination
      .swiper-button-prev
        img(src=require('@/assets/img/index/benefits_slides/arrow-left.svg') alt="")
      .swiper-button-next
        img(src=require('@/assets/img/index/benefits_slides/arrow-right.svg') alt="")


